<label>Nitrogen (N)
    <input type="number" step="0.01" name="nitrogen" required>
</label>
<label>Phosphorous (P)
    <input type="number" step="0.01" name="phosphorous" required>
</label>
<label>Potassium (K)
    <input type="number" step="0.01" name="potassium" required>
</label>
<label>Temperature
    <input type="number" step="0.01" name="temperature" required>
</label>
<label>Humidity
    <input type="number" step="0.01" name="humidity" required>
</label>
<label>pH Level
    <input type="number" step="0.01" name="ph" required>
</label>
<label>Rainfall
    <input type="number" step="0.01" name="rainfall" required>
</label>
